.Signup {
  margin-top: 5%;
  h2 {
    color: red;
  }
  form {
    width: clamp(20em, 40vw, 60em);
    fieldset {
      border: 5px solid brown;
      border-radius: 5px;
      padding: 20px;

      .row {
        display: flex;
        align-content: flex-start;
        padding: 5px;
        label {
          &:after {
            content: ':';
          }
          width: 90px;
          margin: 0 0 10px 0;
          input {
            font-size: 1rem;
            width: max-content;
            padding: 1%;
          }
        }
      }

      .buttonRow {
        display: flex;
        justify-content: right;
        button {
          font-size: 1rem;
          padding: 5px;
        }
      }
      pre {
        font-family: 'Courier New', Courier, monospace;
        color: brown;
        margin: 10px 0 0 0;
        background-color: #eee;
        padding: 10px;
        font-size: 1.2rem;
        width: 580px;
      }
      .panel {
        background-color: #eee;
        width: 560px;
        margin: 10px 0 0 0;
        padding: 20px;
        border-radius: 5px;
      }
    }
  }
}
