.Navbar {
  width: 100%;
  height: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  li {
    margin: 0 2%;
    p {
      font-size: clamp(1.5em, 2vw, 2.5em);
      font-weight: bold;
      font-style: italic;
      cursor: grabbing;
    }
    .selected {
      color: red;
      font-weight: bolder;
    }
  }
  .validations {
    position: absolute;
    right: 5%;
  }
  #signup {
    margin-right: 9%;
  }
}
